.button {
    padding: 13px 30px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, #9916FF 0%, #424FC2 104.62%);
    color: white;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}